@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h2>SignalR Chat</h2>
    <input type="text" id="userInput" placeholder="Your name" /> <br /><br />
    <input type="text" id="messageInput" placeholder="Your message" /><br /><br />
    <button id="sendMessageButton">Send</button><br />
    <ul id="messagesList"></ul>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script>
    // Créer une connexion au Hub SignalR
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/myHub")
        .build();

    // Réception des messages du serveur
    connection.on("ReceiveMessage", (user, message) => {
        const msg = `${user}: ${message}`;
        const li = document.createElement("li");
        li.textContent = msg;
        document.getElementById("messagesList").appendChild(li);
    });

    // Démarrer la connexion
    connection.start().catch(err => console.error(err.toString()));

    // Envoi des messages au serveur
    document.getElementById("sendMessageButton").addEventListener("click", () => {
        const user = document.getElementById("userInput").value;
        const message = document.getElementById("messageInput").value;
        connection.invoke("SendMessage", user, message).catch(err => console.error(err.toString()));
    });
</script>

